@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Readex Pro', sans-serif;
}

h2 {
  font-style: italic;
}

.primary-button {
  color: #fff;
  font-size: 15px;
  background-color: #344966;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: #213144;
}

.secondary-button {
  color: white;
  background-color: #344966;
  font-weight: 500px;
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  margin: 6px;
}

.secondary-button:hover {
  background-color: #213144;
}

/* ---- Navbar ---- */

nav {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-button {
  color: white;
  background-color: #344966;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  height: 50%;
}

nav .nav-button:disabled {
  background-color: #213144;
  color: white;
}

nav .nav-button:hover {
  background: #213144;
}

nav .logo-container {
  width: 500px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 30%;
  display: flex;
}

/* ---- Home ---- */

.primary-title {
  color: white;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom,
      #576981 0%,
      rgba(255, 255, 255, 0.65) 100%)
}

/* ---- AuthModal ---- */

.auth-modal {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

/* ---- Onboarding ---- */

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form .multi-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .multi-input-container input {
  margin: 10px;
}

.onboarding form .multi-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type='radio'] {
  display: none;
}

.onboarding form input[type='radio']:checked+label {
  color: white;
  background-color: #344966;
}

.onboarding form input[type='submit']:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form input[type='submit']:active {
  background-color: #213144;
}

.onboarding form input[type='number'] {
  width: 10%;
}

.onboarding form .photo-container img {
  width: 100%;
}

/* ---- Dashboard ---- */

.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card {
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

/* ---- Chat Container ---- */